<!-- views/products.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css"/>
</head>
<body>
    <h1>Products</h1>
    <br/>
    <table border="1px" cellspacing="0">
        <tr>
            <th>Product ID</th>
            <th>Description</th>
            <th>Store ID</th>
            <th>Location</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        <% products.forEach(product => { %>
            <tr>
                <td><%= product.pid %></td>
                <td><%= product.productdesc %></td>
                <td><%= product.sid %></td>
                <td><%= product.location %></td>
                <td><%= product.Price %></td>
                <td><a href="/products/delete/<%= product.pid %>">Delete <%= product.productdesc %></a></td>
            </tr>
        <% }); %>
    </table>
    <br/>
    <a href="/">Home</a>
</body>
</html>
